/*==================================
GALLERY PAGE
==================================*/

.gallery-hero{

  height:70vh;

  position:relative;

  overflow:hidden;

}


.gallery-hero img{

  width:100%;
  height:100%;
  object-fit:cover;

}




.gallery-filter{

  padding:50px 0;

  text-align:center;

}



.gallery-filter button{


  padding:12px 25px;


  border:none;


  border-radius:30px;


  margin:10px;


  cursor:pointer;


  background:#E2E8F0;

}



.gallery-filter button.active{


  background:#10B981;


  color:white;

}




.gallery-section{


  padding:50px 0;

}



.masonry{


  column-count:3;


  column-gap:20px;

}




.masonry img{


  width:100%;


  margin-bottom:20px;


  cursor:pointer;


  border-radius:15px;


  transition:.4s;

}




.masonry img:hover{


  transform:scale(1.03);

}




.lightbox{


  position:fixed;


  top:0;


  left:0;


  width:100%;


  height:100%;


  background:rgba(0,0,0,.95);


  display:none;


  justify-content:center;


  align-items:center;


  z-index:99999;

}



.lightbox img{


  max-width:90%;


  max-height:90%;

}



#close{


  position:absolute;


  top:40px;


  right:40px;


  font-size:50px;


  color:white;


  cursor:pointer;

}




@media(max-width:992px){

  .masonry{

    column-count:2;

  }

}




@media(max-width:768px){

  .masonry{

    column-count:1;

  }


  .gallery-hero{

    height:50vh;

  }

}
