
/*==================================
PROJECT STATUS
==================================*/

.status-hero{

  height:70vh;

  position:relative;

  overflow:hidden;

}


.status-hero img{

  width:100%;

  height:100%;

  object-fit:cover;

}



.dashboard{

  padding:100px 0;

}



.circle{

  width:120px;

  height:120px;

  margin:auto;

  border-radius:50%;

  background:

    conic-gradient(

      #10B981 85%,

      #E5E7EB 0

    );

  display:flex;

  justify-content:center;

  align-items:center;

  font-size:28px;

  font-weight:700;

}



.reports{

  padding:100px 0;

}



.progress-gallery{

  padding:100px 0;

}



.progress-gallery img{

  border-radius:20px;

}



@media(max-width:768px){

  .circle{

    width:90px;

    height:90px;

    font-size:20px;

  }

}
